@{
  Layout = "_Layout";
}

@model TheBest.Models.Cuisine

<h2>Edit</h2>

<h4>Edit this category: @Html.DisplayFor(model => model.Style)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CuisineId)

  @Html.LabelFor(model => model.Style)
  @Html.EditorFor(model => model.Style)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to cuisines", "Index")</p>